@charset "UTF-8";
/* Tamaños responsivo para mobile, tablet and desktop */
/* Mobile 300px - 767px */
/* Tablet 768px - 1023px */
/* Desktop 1024 + a más */
/* ------------------ */
/* ----------------- */
/* Using media Querys with mixin sass */
/* ======================================= */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disppear {
  -webkit-animation: vanish 4s forwards;
          animation: vanish 4s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  background: #0f89c2;
  width: 100%;
  height: 636px;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.container .particles .container-menu {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container .particles .container-menu .navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10%;
}

.container .particles .container-menu .navegation .logotipo {
  font-size: 55px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #0b64c9;
  font-weight: bold;
  letter-spacing: 2px;
}

.container .particles .container-menu .navegation .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.container .particles .container-menu .navegation .menu_items li:hover {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .6s;
  transition: .6s;
}

.container .particles .container-menu .navegation .menu_items li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container .particles .container-menu .navegation .icon_menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  font-size: 25px;
}

.container .particles .container-menu .navegation ul.show {
  top: 65px;
}
/*# sourceMappingURL=style.css.map */